<div class="jumbotron text-center">
  <h1>mean stack</h1>
  <p class="lead">Welcome to our custom MEAN authentication application build from scrach</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express backend</h3>
    <p>about express</p>
  </div>
  <div class="col-md-4">
    <h3>Angular-cli</h3>
    <p>about angular</p>
  </div>
  <div class="col-md-4">
    <h3>JWT Tokens</h3>
    <p>about JWT tokens</p>
  </div>
</div>
